{
	"env": {
		"browser": true,
		"node": true
	},
	"rules": {
		"curly": [2, "multi-line"],
		"no-trailing-spaces": 0,
		"no-underscore-dangle": 0,
		"quotes": [2, "single", "avoid-escape"],
		"semi": 2,
		"strict": 0
	}
}
